@import "tailwindcss";

html {
    scroll-behavior: smooth;
  }
  

  @keyframes pulse-fast {
    0%, 100% {
      opacity: 0.3;
      transform: scale(1);
    }
    50% {
      opacity: 0.6;
      transform: scale(1.05);
    }
  }
  
  .animate-pulse-fast {
    animation: pulse-fast 6s ease-in-out infinite;
  }
  